body {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0b0d10;
}

.lead {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.profile {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: #a99292;
}

.banner {
  text-align: left;
  padding: 4rem 2rem;
  background-color: #232222;
  border-radius: 0.5rem;
  border: 1px solid #222831;
  color: #fff;
}

.logo-img {
  max-width: 32px;
  height: auto;
  margin-top: 1rem;
  border-radius: 50%;
}

.about-me {
  text-align: left;
  padding: 2rem;
  background-color: #232222;
  border-radius: 0.5rem;
  border: 1px solid #222831;
  color: #fff;
}

.about-img {
  max-width: 90px;
  height: auto;
  border-radius: 50;
  border: 1px solid #222831;
  margin-bottom: 1rem;
}
