body {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0b0d10;
}

.lead {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8a94a6;
}

.profile {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ccc;
  background-color: #a99292;
}

.banner {
  text-align: left;
  padding: 4rem 2rem;
  background-color: #232222;
  border-radius: 0.5rem;
  border: 1px solid #222831;
  color: #fff;
}

.logo-img {
  max-width: 32px;
  height: auto;
  margin-top: 1rem;
  border-radius: 50%;
  filter: invert(72%) sepia(28%) saturate(945%) hue-rotate(356deg)
    brightness(91%) contrast(89%);
}

.about-img {
  max-width: 90px;
  height: auto;
  border-radius: 50;
  border: 1px solid #222831;
  margin-bottom: 1rem;
}

.about-section {
  text-align: left;
  padding: 3rem 2.5rem;
  background-color: #12161c;
  border-radius: 0.75rem;
  border: 1px solid #222831;
  color: #fff;
  margin-top: 2rem;
}

.about-desc {
  color: #8a94a6;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Gold Filter para sa maitim mong PNG icons */

.stats-grid {
  flex: 1.2; /* Kumakain ng kaunting mas malaking espasyo para sa 4 cards */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 Columns magkakatabi */
  gap: 15px;
}

.stat-card {
  background-color: #1a2029;
  border: 1px solid #222831;
  border-radius: 10px;
  padding: 30px 15px;

  /* FLEXBOX CENTERING (Ito ang magpa-pantay sa gitna) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition:
    transform 0.2s,
    border-color 0.2s;
}

.stat-card img {
  width: 40px !important;
  height: 40px !important;
  object-fit: contain;
  margin: 0 auto 12px auto;
  display: block;
  filter: invert(72%) sepia(28%) saturate(945%) hue-rotate(356deg)
    brightness(91%) contrast(89%);
}

.stat-card h6 {
  color: #f0f4f8;
  font-size: 0.9rem;
  margin-bottom: 2px;
  text-align: center;
}

.stat-card p {
  color: #8a94a6;
  font-size: 0.75rem;
  margin: 0;
  text-align: center;
}

.section-title {
  color: goldenrod;
}
